main{
    min-height: 70vh; 
}


.product-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
.card {
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    text-decoration: none;
    color: #333;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card h3 {
    margin: 10px 0;
    font-size: 18px;
}